/* Base font size for desktop and larger screens */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #e0f7e9; /* أخضر فاتح */
  color: #333;
  direction: rtl;
  text-align: right;
  padding: 20px;
  font-size: 16px; /* Base font size */
}

/* Adjust font-size based on screen width */
@media (max-width: 1200px) {
  body {
    font-size: 1.5vw; /* Adjust for large screens */
  }
}

@media (max-width: 768px) {
  body {
    font-size: 3.5vw; /* Adjust for tablets */
  }
}

@media (max-width: 480px) {
  body {
    font-size: 4vw; /* Adjust for small smartphones */
  }
}

@media (max-width: 360px) {
  body {
    font-size: 4.5vw; /* Adjust for very small smartphones */
  }
}

/* Form styling */
form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

/* Button styling (bold and in one line) */
#font-controls {
  text-align: center;
}

#font-controls button {
  display: inline-block;
  margin: 10px 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold; /* Bold text */
}

#font-controls button:hover {
  background-color: #45a049;
}

label {
  margin-top: 10px;
  display: inline-block;
}


#calculate-button {
  background-color: #4CAF50; /* اللون الأساسي الأخضر */
  border: none;
  color: white; /* لون النص */
  padding: 15px 32px; /* مسافة داخلية للزر */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; /* حجم الخط */
  margin: 20px auto; /* جعل المسافة بين الزر والعناصر الأخرى */
  cursor: pointer;
  border-radius: 8px; /* زوايا دائرية للزر */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* تأثيرات الانتقال */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* إضافة ظل */
}

#calculate-button:hover {
  background-color: #45a049; /* تغيير اللون عند التمرير */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* زيادة الظل عند التمرير */
}

#calculate-button:active {
  background-color: #3e8e41; /* لون الزر عند الضغط */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* إعادة الظل كما كان */
  transform: translateY(2px); /* تأثير الضغط عند النقر */
}

