body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #e0f7e9; /* أخضر فاتح */
  color: #333;
   direction: rtl;
  text-align: right;
  padding: 20px;
}

form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
}


h1 {
  text-align: center;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

label {
  margin-top: 10px;
  display: inline-block;
}
